<%= link_to 'About', 'about', :id => 'about_link' %>
<table class="ward_names_table">
    <tr>
        <th id="ward1_name" class="name">Ottawa</th>
        <th id="ward2_name" class="name"></th>
    </tr>
</table>
<% category.absolute_tables.each do |table| %>
    <table class="graph_table absolute_table">
        <tr><th class="table_name" colspan=3><%= table.name %></th></tr>
        <% table.regular_rows.each do |row| %>
            <tr class="table_row">
                <td class="row_div ward1_table_div ward1_row_div" id="ward1_row_div_<%= row.id %>"></td>
                <td class="row_name row_div"><%= h row.name %></td>
                <td class="row_div ward2_table_div ward2_row_div" id="ward2_row_div_<%= row.id %>"></td>
            </tr>
        <% end %>
    </table>
<% end %>
<% category.tables.each do |table| %>
    <% if table.table_type == Table::PIE_TYPE %>
        <table class="graph_table">
            <%= render :partial => 'table_row', :locals => {:table => table } %>
        </table>
    <% elsif table.table_type == Table::PERCENT_TYPE %>
        <table class="graph_table">
            <%= render :partial => 'table_row', :locals => {:table => table } %>
        </table>
    <% end %>
<% end %>
