<script type="text/javascript">
    function drawChartsForOttawa() {
        <% @pie_tables.each do |table| %>
            var values = new Array();
            <% table.regular_rows.each do |row| %>
                <% column = @ottawa.column_for(row) %>
                values.push({name: '<%= escape_javascript(row.name) %>', value: <%= column.value %>})
            <% end %>
            drawPie('ottawa_table_div_<%= table.id %>', values);
        <% end %>

        <% @percent_tables.each do |table| %>
            var values = new Array();
            <% total_column = @ottawa.column_for(table.total_row) %>
            <% table.regular_rows.each do |row| %>
                <% column = @ottawa.column_for(row) %>
                values.push({name: '<%= escape_javascript(row.name) %>', value: <%= ((column.value*1.0) / total_column.value) * 100 %>})
            <% end %>
            drawColumn('ottawa_table_div_<%= table.id %>', '', 'Percent', values);
        <% end %>
    }
</script>
<div id="bottom_div">
    <table id="graph_table">
        <tr>
            <th id="ottawa_name" class="name">Ottawa</th>
            <th id="ward_name" class="name"></th>
        </tr>
        <% @pie_tables.each do |table| %>
            <%= render :partial => 'table_row', :locals => {:table => table } %>
        <% end %>
        <% @percent_tables.each do |table| %>
            <%= render :partial => 'table_row', :locals => {:table => table } %>
        <% end %>
    </table>
</div>
