<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<title>Ottawa Wards</title>
<link href="http://code.google.com/apis/maps/documentation/javascript/examples/default.css" rel="stylesheet" type="text/css" />
<%= stylesheet_link_tag "visualcensus" %>
<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<%= javascript_include_tag 'jquery', 'application' %>
<script type="text/javascript">

    function drawChartsForOttawa() {
        <% @pie_tables.each do |table| %>
            $("#ottawa_graph_space").append('<div class="table_div" id="table_div_<%= table.id %>"></div>');
            var values = new Array();
            <% table.regular_rows.each do |row| %>
                <% column = @ottawa.column_for(row) %>
                values.push({name: '<%= escape_javascript(row.name) %>', value: <%= column.value %>})
            <% end %>
            drawPie('table_div_<%= table.id %>', '<%= escape_javascript(table.name) %>', 500, 500, 12, values);
        <% end %>

        <% @percent_tables.each do |table| %>
            $("#ottawa_graph_space").append('<div class="table_div" id="table_div_<%= table.id %>"></div>');
            var values = new Array();
            <% total_column = @ottawa.column_for(table.total_row) %>
            <% table.regular_rows.each do |row| %>
                <% column = @ottawa.column_for(row) %>
                values.push({name: '<%= escape_javascript(row.name) %>', value: <%= ((column.value*1.0) / total_column.value) * 100 %>})
            <% end %>
            drawColumn('table_div_<%= table.id %>', '<%= escape_javascript(table.name) %>', 500, 500, '', 'Percent', values);
        <% end %>
    }

  function initialize() {
    var ottawaLatLng = new google.maps.LatLng(45.33, -75.8);
	var mapOptions = {
      zoom: 9,
      center: ottawaLatLng,
      mapTypeId: google.maps.MapTypeId.ROADMAP,
	  mapTypeControl: false,
	  streetViewControl: false,
	  navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL}
    };

    var map = new google.maps.Map(document.getElementById("map_canvas"),
        mapOptions);

	<% @wards.each_with_index do |ward, index| %>
	   <% pathName = "ward" + index.to_s + "Coords" %>
	   <% wardName = "ward" + index.to_s %>
	   var <%= pathName %> = [
	       <% ward.points.each_with_index do |point, pindex| %>
		      new google.maps.LatLng(<%= point.lat %>, <%= point.lon %>)<% if pindex+1 < ward.points.length %>,<% end -%>
		   <% end %>
	   ];

       var <%= wardName %> = new google.maps.Polygon({
		   paths: <%= pathName %>,
		   strokeColor: "#FF0000",
		   strokeOpacity: 0.8,
		   strokeWeight: 2,
		   fillColor: "FF0000",
		   fillOpacity: 0.35
	   });
	   <%= wardName %>.setMap(map);
       google.maps.event.addListener(<%= wardName %>, 'mouseover', function() {
	       <%= wardName %>.setOptions({fillOpacity: 0.7})
	   });
	   google.maps.event.addListener(<%= wardName %>, 'mouseout', function() {
           <%= wardName %>.setOptions({fillOpacity: 0.35})
       });
	   google.maps.event.addListener(<%= wardName %>, 'click', function() {
           $.post("/map/by_age_group/<%= ward.id %>", null, null, "script");
       });
	<% end %>
    drawChartsForOttawa();

    $("#minimizer").toggle(function() {
        $("#top_div").animate({width:"0px", height:"0px"}, "fast");
		$(this).attr({src:"/images/plus-icon.gif"});
        $("#click_me").hide("fast");
	},function() {
		$(this).attr({src:"/images/minus-icon.gif"});
        $("#top_div").animate({width:"400px", height:"200px"}, "fast");
        $("#click_me").show("fast");
    });
  }
</script>
</head>
<body onload="initialize()">
  <div id="top_div">
    <div id="map_canvas"></div>
    <p id="click_me">Click on a ward</p>
    <%= image_tag 'minus-icon.gif', :id => 'minimizer' %>
  </div>
  <div id="bottom_div">
    <div class="graph_space" id="ward_graph_space">
      <p id="ward_name" class="name"></p>
    </div>
    <div class="graph_space" id="ottawa_graph_space">
      <p class="name">Ottawa</p>
    </div>
  </div>
</body>
</html>
